@model AspNetCoreIdentityExample.Models.ViewModels.LoginViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<h4>Giriş Yap</h4>
<hr />
<form asp-action="Login" asp-route-ReturnUrl="@Context.Request.Query["ReturnUrl"]">
    <div asp-validation-summary="All"></div>
    <div class="form-group">
        <label>Username</label>
        <input type="text" class="form-control" asp-for="Email">
    </div>
    <div class="form-group">
        <label>Password</label>
        <input type="password" class="form-control" asp-for="Password">
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
</form>
<div style="text-align:center;">
    <a asp-action="FacebookLogin" asp-controller="User"> <img src="https://qph.fs.quoracdn.net/main-qimg-1026df84fca620201583e334e1edb3fa" /></a>
    <a asp-action="GoogleLogin" asp-controller="User"> <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTn5Z9TzoJxfLaNOBQRKy76SftRdrnlQz01SuS2BMBoi1F13QRM1Q&s" /></a>
</div>