@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>

<html>
<head>
    <script src="~/jquery/jquery.js"></script>
    <script src="~/lib/jquery-validate/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
</head>
<body>
    <div>
        <a asp-action="Index" asp-controller="User">Index</a> |
        <a asp-action="Signin" asp-controller="User">Signin</a> |
        <a asp-action="Login" asp-controller="User">Login</a> |
        <a asp-action="Logout" asp-controller="User" asp-route-returnUrl="/User/Signin">Logout</a>
        <br />
        @RenderBody()
    </div>
</body>
</html>
