@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>

<html>
<head>
    <script src="~/jquery/jquery.js"></script>
    <script src="~/lib/jquery-validate/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
</head>
<body>
    <div>
        <a asp-action="Page1" asp-controller="Pages">Tor</a> |
        <a asp-action="Page2" asp-controller="Pages">Editor</a> |
        <a asp-action="Page3" asp-controller="Pages">Moderator</a> |
        <a asp-action="Page4" asp-controller="Pages">Admin</a> |
        <a asp-action="Page5" asp-controller="Pages">TimeControl policy</a>|
        <a asp-action="Page6" asp-controller="Pages">UserClaimNamePolicy policy</a> |
        <a asp-action="Page7" asp-controller="Pages">UserClaimPositionPolicy policy</a> 
        <br />
        <a asp-action="Index" asp-controller="User">Index</a> |
        <a asp-action="Signin" asp-controller="User">Signin</a> |
        @if (User.Identity.IsAuthenticated)
        {
            <a asp-action="Index" asp-controller="Role">Roles</a>
            @: |

            <a asp-action="Profile" asp-controller="User">Profile</a>
            @: |

            <a asp-action="Logout" asp-controller="User" asp-route-returnUrl="/User/Signin">Logout</a>
        }
        else
        {
            <a asp-action="Login" asp-controller="User">Login</a>
            @: |
        }

        <br />
        @RenderBody()
    </div>
</body>
</html>
